@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.button {
  @include item-center();
  justify-content: center;
  font-size: $button-size;
  line-height: $button-line-height;
  font-weight: $font-weight-semibold;
  letter-spacing: $letter-spacing-button;
  padding: $space-2 $space-4;
  border-radius: $border-radius-xs;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  background-color: $default-color;

  &:hover {
    background-color: $hover-color;
  }

  &:active {
    background-color: $pressed-color;
  }

  &:focus {
    outline: 2px solid $focus-color;
    outline-offset: 2px;
  }

  &:disabled {
    background-color: $disabled-color;
    color: $deactivated-text;
    cursor: not-allowed;
  }

  &--text-light {
    color: $text-light-color;
  }

  &--full {
    width: 100%;
  }

  &--primary {
    background-color: $primary-color-main;
    color: $primary-text;

    &:hover {
      background-color: $primary-color-dark;
    }
  }

  &--secondary {
    background-color: $secondary-color-main;
    color: $text-light-color;

    &:hover {
      background-color: $secondary-color-dark;
    }
  }

  &--small {
    padding: $space-1 $space-2;
    font-size: $body2-size;
    line-height: $body2-line-height;
  }

  &--large {
    padding: $space-3 $space-5;
    font-size: $h5-size;
    line-height: $h5-line-height;
  }
}
