@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.dropdown {
  position: relative;
  width: 200px;

  &--small {
    width: 160px;
  }

  &--large {
    width: 200px;
  }

  .dropdown-header {
    padding: 8px 12px;
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $space-1;
  }

  &.borderless .dropdown-header {
    border: none;
    color: $default-color;
  }

  &.bordered .dropdown-header {
    border: 1px solid $background-color-3;
  }

  .dropdown-list-wrapper {
    position: absolute;
    width: 100%;
    @include box-shadow("small");
    border-radius: $border-radius-xs;
    margin-top: $space-2;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    background-color: $background-color;
    z-index: 10;
  }

  .dropdown-list-wrapper.open {
    max-height: 200px;
  }

  .dropdown-list {
    list-style: none;
    padding: $space-1;
    margin: 0;

    .dropdown-item {
      padding: 4px 8px;
      color: $tertiary-text;
      cursor: pointer;
      border-radius: $border-radius-xs;
      &:hover {
        background: $background-color-2;
      }
    }
  }

  .dropdown-icon {
    transition: transform 0.2s ease-in-out;
  }

  .open .dropdown-icon {
    transform: rotate(180deg);
  }
}
