@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.navbar {
  @include divider(2px);
  display: flex;
  justify-content: space-between;
  padding: 0 $space-3;
  height: $navbar-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $background-color;
  z-index: 10;
}

.logo {
  @include item-center();

  button {
    display: none;

    @media (max-width: $breakpoint-md) {
      display: block;
    }
  }
}

.user {
  @include item-center();

  .user-icon {
    color: $deactivated-text;
  }
}
