@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.book-card {
  border: 1px solid $stroke-color;
  padding: $space-2;
  border-radius: $border-radius-sm;
  position: relative;
  width: 100%;
  max-width: 300px;

  @media (max-width: $breakpoint-xs) {
    margin: auto; // center bookcard if smaller screen
  }

  img {
    width: 160px;
    height: 250px;
    display: block;
    margin: auto;
    border-radius: $border-radius-xs;
    object-fit: cover;
  }

  .details {
    margin-top: $space-2;
    margin-bottom: $space-2;
    display: flex;
    justify-content: space-between;

    h3 {
      font-weight: bold;
    }

    p {
      color: $tertiary-text;
    }
  }
}
